h1, .h1 {
  position: relative;
  .font-size(52);
  .line-height(52, 60);
  font-weight: 300;
  margin: 0;
}

h2, .h2 {
  .font-size(48);
  .line-height(48, 50);
  font-weight: 300;
  margin: 0 auto 70px;
}

h3, .h3 {
  .line-height(30, 40);
  font-weight: 300;
  margin: 0 0 16px 0;
}

h4, .h4 {
  .line-height(24, 32);
  font-weight: 400;
  margin: 0;
}

h5, .h5 {
  .line-height(18, 23);
  font-weight: normal;
  margin: 0 0 15px;
}


h6, .h6 {
  .line-height(16, 20);
  font-weight: 700;
  margin: 0 0 10px;
}

p, .p {
  font-weight: 400;
  .line-height(16, 18);
  margin: 0;
}

.ul {
  margin: 0;
  padding: 20px 0 10px;

  color: @color_green;
  list-style-type: none;

  li {
    position: relative;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 25px;
    .font-size(12);

    &.no-list-icon {
      padding-left: 0;

      &::before {
        display: none;
      }
    }

    &:hover {
      &::before {
        left: 4px;
        color: @color_green;
      }
    }


    &::before {
      content: '⟶';
      position: absolute;
      font-weight: 400;
      color: #000;
      left: 0;
      top: 0;
      font-size: 20px;
      line-height: 12px;
      transition: .2s;
    }
  }

}

.sub-title {
  .font-size(14);
  font-weight: 900;
}

small {
  .font-size(14);
}

.notation {
  .line-height(12, 14);
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.text-weight--light {
  font-weight: 300;
}

.link {
  font-weight: bold;
  letter-spacing: 0.02em;
  color: @color_green;
  text-decoration: none;


  &:hover {
    text-decoration: underline;
  }
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, p, .ul, .ul li,
.sub-title, .notation, .link {
  transition: .2s;
}

.uppercase {
  text-transform: uppercase;
}

.text-green {
  color: @color_green;
}

.text-black {
  color: @color_black;
}

.text-grey {
  color: @color_grey;
}

.text-purple {
  color: @color_purple;
}

.text-white {
  color: @color_white;
}

hr {
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid @color_grey_light;
}

@media @mobile {
  h1, .h1 {
    .font-size(50);
  }

  h2, .h2 {
    .font-size(40);
  }

}