/* Heading */
.heading-slide {
  position: relative;
  height: 100vh;
  min-height: 700px;
  display: flex;
  align-items: flex-end;
  padding-top: 180px;
  padding-bottom: 15vh;
  background-color: rgba(59, 65, 144, .75);
  color: @color_white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  > .container {
    z-index: 1;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 210px;
    left: 0;
    width: 100%;
    background: linear-gradient(360deg, rgba(59, 59, 105, 0) 0%, rgba(59, 59, 105, 0.95) 54.17%);
  }


  &::after {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(180deg, rgba(59, 59, 105, 0) 2.46%, rgba(59, 59, 105, .85) 49.41%, rgba(59, 59, 105, .85) 100%);
  }
}

.heading-slide-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.heading-slide-txt {
  .btn {
    margin-bottom: 35px;
  }

  h1 {
    margin-bottom: 15px;
  }
}

.heading-slide-time {
  .font-size(18);
  font-weight: 500;
}

.header-scroll-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  svg {
    width: 70px;
    height: 70px;
    transition: @transition ease-in-out;
    opacity: .85;
  }

  &:hover {
    svg {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

.aside-socials {
  position: fixed;
  top: 50%;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  border-radius: 0 4px 4px 0;
  list-style-type: none;
  overflow: hidden;
  z-index: 10;

  li {
    &:last-child {
      a {
        border: none;
      }
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
    background-color: @color_black;
    border-bottom: 1px solid @color_white;

    svg {
      display: inline-block;
      height: 30px;
      transition: @transition;
    }

    svg, path {
      transition: @transition;
    }

    &:hover {
      svg {
        path {
          fill: @color_red;
        }
      }
    }

  }

}

/* Heading */

/* scenes, feed */
.scenes {
  padding: 120px 0 60px;
}

.scenes-content {
  padding-bottom: 25px;
  background-color: #F7F7F7;
}

.panel-scenes,
.panel-feed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bg_livefeed.jpg");
}

.panel-scenes {
  background-image: url("../img/bg_scenes.jpg");
}

.feed-content {
  padding: 0 0 25px 0;
  background-color: #F7F7F7;
}

.feed-list {
  padding: 25px 0 15px;
}

.feed-item {
  background-color: @color_white;
  margin-bottom: 8px;
}

.feed-user {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.feed-description {
  position: relative;
  padding: 20px;
  background-color: @color_blue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @color_black;
    opacity: 0.75;
  }

  & > div {
    position: relative;
    z-index: 1;
  }
}

.feed-follower {

  .feed-user {
    padding-bottom: 0;
  }

  .feed-user-img {
    padding-right: 8px;
  }

  .feed-user-name {
    color: @color_white;
  }

  .feed-notation {
    color: @color_grey_light;
  }
}

.feed-event {
  &.feed-description {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 145px;

    &::before {
      background: linear-gradient(180deg, rgba(100, 98, 163, 0.2) 0%, #6462A3 100%);
      opacity: 1;
    }

    .feed-pallets {
      position: absolute;
      left: 0;
      top: 15px;
    }
  }
}

.feed-event-txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.feed-event-creds {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: ~'calc(100% - 45px)';
  padding-right: 15px;
}

.feed-event-name,
.feed-event-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed-event-name {
  margin-bottom: 5px;
  color: @color_white;
  font-weight: 500;
  .font-size(14);
  text-decoration: none;
}

.feed-event-description {
  color: @color_purple;
  .font-size(12);
}

.feed-user-img {
  width: 65px;
  min-width: 65px;
  padding-right: 15px;

  img {
    display: inline-block;
    width: 100%;
    border-radius: 50%;
  }
}

.feed-user-name {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  .line-height(14, 15);
  text-decoration: none;
  color: @color_blue;
}

.feed-notation {
  .line-height(12, 14);
  color: @color_purple;
}

.feed-btn {
  text-align: center;
}

.scenes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  background: #F7F7F7;
}

.scenes-item {
  width: ~'calc(33.33% - 25px)';
  min-width: 280px;
  margin: 20px 12px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 3px 3px rgba(0, 0, 0, 0.1);

  &.scenes-item-full {
    width: 100%;

    .panel {
      display: flex;
    }

    .scene-event-txt,
    .scene-user {
      width: 50%;
    }

    .scene-event-txt {
      padding-right: 25px;
      border-right: 1px solid @color_red;
    }

    .scene-user {
      padding-left: 25px;
    }
  }
}

.scenes-item-img {
  height: 250px;
  background-color: #E6E6E6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.scenes-pallets {
  padding-top: 20px;
}

.scene-event-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scene-event-creds {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: ~'calc(100% - 80px)';
  padding-right: 15px;
}


.scene-event-name,
.scene-event-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scene-event-name {
  margin-bottom: 5px;
  .font-size(16);
  font-weight: 500;
  color: @color_black;
  text-decoration: none;
}

.scene-event-description {
  .font-size(14);
  color: @color_grey_dark;
}

.scene-user {
  display: flex;
  align-items: center;
}


.scene-user-img {
  width: 75px;
  min-width: 75px;
  padding-right: 15px;

  img {
    display: inline-block;
    width: 100%;
    border-radius: 50%;
  }
}

.scene-user-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scene-user-name {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  .line-height(16, 16);
  text-decoration: none;
  color: @color_blue;
}

.scene-notation {
  .line-height(12, 12);
  color: @color_purple;
  text-transform: uppercase;
}

/* scenes, feed */

/* categories */
.categories {
  padding: 60px 0 60px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px 60px;
}

.categories-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: ~'calc(25% - 25px)';
  height: 300px;
  padding: 20px;
  margin: 12px;
  .font-size(24);
  color: @color_white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  transition: @transition;

  &:hover {
    opacity: .95;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 105, .75);
  }

  > div {
  }
}

.categories-title {
  position: relative;
  max-width: 240px;
  text-align: center;

  z-index: 1;
}

.categories-btn {

}

/* categories */


/* map */
.map {
  padding: 60px 0;
}

.map-container {
  height: 85vh;
  min-height: 500px;
  background-color: #ede9e9;
  margin-bottom: 60px;
}

/* map */

/* apps */
.apps {
  padding: 60px 0;
  color: @color_white;
}

.apps-bg {
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../img/apps_bg.jpg');
  background-color: rgba(59, 65, 144, 0.75);

}

.apps-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 7%;

  .h4 {
    margin-bottom: 30px;
  }
}

.apps-img {
  width: 50%;
  max-width: 650px;

  img {
    display: inline-block;
    width: 100%;
  }
}

.apps-txt {
  max-width: 550px;
  padding-right: 20px;
}

.app-link {
  display: inline-block;
  margin-right: 25px;
  transition: @transition;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .85;
  }
}

.app-link-img {
  display: inline-block;
  height: 54px;
}

.apps-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;

  img {
    display: inline-block;
    width: 100%;
  }
}

/* apps */

/* kinds */
.kinds {
  padding: 60px 0 0;
  color: @color_white;
}

.kinds-bg {
  padding: 85px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../img/kinds_bg.jpg');
  background-color: rgba(59, 65, 144, 0.75);

}

.kinds-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 7%;

  h2 {
    margin-bottom: 30px;
    .font-size(36);
    font-weight: 300;
  }

  .apps-logo {
    bottom: 65px;
  }
}


.kinds-txt {
  max-width: 600px;
  padding-right: 50px;
  padding-bottom: 80px;
}


.kinds-img {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 40%;
  max-width: 600px;
  font-size: 0;

  img {
    display: inline-block;
    width: 100%;
  }
}

/* kinds */

/* about */
.about {
  padding: 60px 0;

  h3 {
    max-width: 1250px;
    margin: 0 auto;
  }
}

/* about */

/* advantages */
.advantages {
  padding: 120px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/advantages.bg.jpg');
}

.advantages-cont {
  padding: 0 10%;
}

.advantages-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 1250px;
  margin: 0 auto 85px;
}

.advantages-item {
  max-width: 300px;
}


.advantage-item-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 25px;
  width: 150px;
  height: 150px;
  background-color: @color_white;
  border-radius: 50%;

  img {
    display: inline-block;
    width: 85px;
  }

  &.group {
    img {
      width: 75px;
      margin-bottom: 10px;
    }
  }

}

/* advantages */


/* happening */
.happening {
  padding: 120px 0 60px;
}


.happening-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.happening-item {
  display: inline-block;
  width: 16.6%;
  min-width: ~'calc(16.6% - 20px)';
  max-width: 285px;
  height: 360px;
  margin: 20px 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @color_black;
  text-decoration: none;
  transition: @transition;

  &:hover {
    opacity: .95;
    height: 400px;
    margin: 0 10px;
  }
}

.happening-item-txt {
  padding: 15px;
  background-color: rgba(59, 59, 105, 0.75);
}

/* happening */