/* Heading */
.heading-slide {
  height: 95vh;
  min-height: 560px;
  display: flex;
  align-items: flex-end;
  padding-top: 180px;
  padding-bottom: 5vh;
  background-color: rgba(59, 65, 144, .75);
  color: @color_white;
}

.heading-slide-container {

}


/* Heading */

/* scenes */
.scenes {
  padding: 120px 0;
}

.feed-item {
  border-bottom: 8px solid #f7f7f7;
}


.scenes-list {}
.scenes-item {
  padding: 120px 0;
}
/* scenes */

/* categories */
.categories {
  padding: 120px 0;
}

.categories-list {
display: flex;
  flex-wrap: wrap;
}

.categories-item{
  width: ~'calc(25% - 25px)';
  margin: 12px;
  background-color: rgb(59,59,105, .75);
  .font-size(24);
  color: @color_white;
}
/* categories */


/* map */
.map-container {
  height: 85vh;
  min-height: 500px;
  background-color: #ede9e9;
}
/* map */

/* apps */
.apps {
  background-color: rgba(59, 65, 144, 0.75);
  background: linear-gradient(180deg, rgba(59, 59, 105, 0.75) 0%, rgba(59, 65, 144, 0.75) 100%);
}
/* apps */

/* advantages */
.advantages-list {
  display: flex;
  justify-content: space-around;
}
/* advantages */