/**
 * Media queries
 */

@mobileSm:~"only screen and (max-width: 400px)";
@mobile:~"only screen and (max-width: 480px)";
@mobileMd:~"only screen and (max-width: 640px)";
@mobileLg:~"only screen and (max-width: 768px)";
@tablet:~"only screen and (max-width: 992px)";
@tabletLg: ~"only screen and (max-width: 1024px)";
@laptop:~"only screen and (max-width: 1120px)";
@laptopMd:~"only screen and (max-width: 1250px)";
@laptopLg:~"only screen and (max-width: 1360px)";
@screenLg:~"only screen and (max-width: 1550px)";

@h850: ~"only screen and (max-height: 850px)";
@h800: ~"only screen and (max-height: 800px)";
@h750: ~"only screen and (max-height: 750px)";
@h700: ~"only screen and (max-height: 700px)";
@h650: ~"only screen and (max-height: 650px)";
@h600: ~"only screen and (max-height: 600px)";

/**
 * Main colors
 */
@color_white: #fff;
@color_green: #50D2C2;
@color_red: #FF3366;
@color_black: #3B3B69;

@color_grey_dark: #747998;
@color_grey: rgba(116, 121, 152, 0.5);
@color_grey_light: #D3D7F0;

@color_blue: #6462A3;

@color_purple: #A6AEDC;

/* Helpers */
@transition: .3s;